
<div class="container page-wrap">
  <div class="devise-view">
    <img src="http://ogk4z553l.bkt.clouddn.com/banner002.jpg" alt="background image">
    <div class="devise-sign-up">
      <div class="center">
        <h1>FutureCareer</h1>
        <div class="description">
          <h2>建立连接，共赢未来</h2>
          <p>企业与人才，能找到彼此匹配的对方</p>
          <h2>我们的优势</h2>
          <p>专业化团队经验，职位面对全球，集中软件相关行业</p>
        </div>
      </div>
    </div>
  </div>
</div>
