<body>
<div class="jumbotron">
  <!-- <div class="lp-section-1"> -->
  <div class="title" ><h1>Jobs 工作网</h1></div>
  <div class="slogan" >
    <h2>
    Jobs工作网是连接您与理想企业和职位之间的纽带和桥梁……
    </h2>
  </div>
  <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">马上应聘</a></p>
</div>

<!-- <div class="lp-container">
    <div class="lp-background-img">
        <div>
            <h1>
                下一个火箭项目的助跑平台
            </h1>
        </div>
        <div>
            <h2>
                万种筹资，助推才华青年最后一把，催成下一个世界级人才
            </h2>
        </div>
        <div class="lp-action btn">
            <a href="/account/projects/new">发起众筹</a>
        </div>
        <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">马上应征</a></p>
    </div>

</div> -->

<div class="lp-pom-box-98"></div>


<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="http://ogk4z553l.bkt.clouddn.com/Jobs-logo001.png" alt="search" class = "img-thhumbnail">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="http://ogk4z553l.bkt.clouddn.com/Telephone-logo.png" alt="bid" class = "img-thhumbnail">
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="lp-pom-block-32">
      <p class="slogan">赶快来应聘，千万个职位等着你……</p>
      <!-- <div class="lp-action btn"> -->
          <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">马上应聘</a></p>
      <!-- </div> -->
    </div>
  </div>
</section>
</body>
