<div class="jumbotron">
  <h1 class="title">JOBS Website</h1>
  <p class="slogan">JOBS, Looking future for you
  </p>
  <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">马上应征</a></p>
</div>


<section id="company">
  <div class = "container-fluid" id="foot003">
    <div class="row">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="http://ogk4z553l.bkt.clouddn.com/Jobs-logo-marc.png" alt="search" class = "img-thhumbnail">

        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="thumbnail">
          <img src="http://ogk4z553l.bkt.clouddn.com/mobile-phone.png?imageView/2/w/100" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            010-12344321
            <br>
            info@xxxx.com
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="footer">
    <div class="row-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="moduletable footer-logo  span8">
            <div class="module_container">
              <div class="mod-article-single mod-article-single__footer-logo" id="module_161">
                <div class="item__module" id="item_148">
                  <div class="item_introtext">
                    <a href="/"><img src="http://ogk4z553l.bkt.clouddn.com/Jobs-logo-marc.png" alt=""/></a>
                  </div>
                  <div class="item_introtext">
                  <p class="contact">Telephone: +1 800 603 6035 <br>
                  E-mail: marcfly7@gmail.com
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="moduletable location  span4">
            <div class="module_container">
              <div class="mod-article-single mod-article-single__location" id="module_149">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
