<body>
<div class="jumbotron">
  <!-- <div class="lp-section-1"> -->
  <!-- <div class="title" ><h1>Jobs求职网</h1></div> -->
  <div class="title" ><img src="http://ogk4z553l.bkt.clouddn.com/Jobs-logo-01.png"></div>
  <div class="slogan" >
    <h3>
    建立 求职者 与 企业 之间的 纽带和桥梁……
  </h3>
  </div>
  <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">马上应聘</a></p>
</div>


<div class="jobs-line"></div>
<div class="jobs-sub-content01">
  <h2 id="jobs-sub-content-id01">
    我们的优势
  </h2>

</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="http://ogk4z553l.bkt.clouddn.com/Jobs-logo001.png" alt="search" class = "img-thhumbnail">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="http://ogk4z553l.bkt.clouddn.com/Telephone-logo.png" alt="bid" class = "img-thhumbnail">
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="block-submit-last">
      <p class="slogan">赶快来应聘，千万个职位等着你……</p>
      <!-- <div class="lp-action btn"> -->
          <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">马上应聘</a></p>
      <!-- </div> -->
    </div>
  </div>
</section>
</body>
