/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.jumbotron {
  background:url('http://ogk4z553l.bkt.clouddn.com/Jobs-slide-2.jpg') no-repeat center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Microsoft Yahei", "Helvetica Neue", 微软雅黑;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 100px;
}

.slogan {
  font-family: ‘Courier New’, Courier, monospace;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  top: 2px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}


.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;

}
.foot003, .company{
  background-color: #202120;
}


.foot {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #202120;
    text-align: center;
    color: #7e7e7e;
    line-height: 40px;
    height: 40px;
}


#footer {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #202120;
  padding-bottom: 139px;
  padding-top: 111px;
}

.item_introtext {
  position: relative;
  padding-left: 67px;
  padding-bottom: 0;
  font: 15px/20px 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #535353;
  padding-top: 4px;
}
