
<footer class="container-fluid">

        <div class="foot">
          <div id="copyright">
            <p class="text-center" >Copyright ©2017 JOBS Website, Designed by Marc
            </p>
          </div>
        </div>

</footer>
