
<footer class="container-fluid">

        <div class="foot">
          <div >
            <p class="text-center" >Copyright ©2017 JOBS Website, Designed by Marc

            </p>
          </div>
        </div>

</footer>
